
// Root
//
// Ability to the value of the root font sizes, affecting the value of `rem`.
// null by default, thus nothing is generated.

:root {
  --default-effect: cubic-bezier(0.215, 0.61, 0.355, 1);
  --color-primary:  #0083ff;
  --color-secondary: #00a0ff;
  --color-tertiary: #00838d;
  --color-quaternary: #f2f8f9;
  --default-effect: cubic-bezier(0.215, 0.61, 0.355, 1);
}
